In [1]:
#define a function "say hello" so it prints "Hello!" when called
def say_hello():
    print("Hello!")

In [18]:
#call the function
say_hello()

Hello!

In [9]:
#define the function "say something" so it prints whatever is passed as the variable when called
def say_something(something):
    print(something)

In [12]:
#call the function
say_something("Hello World")

Hello World

In [13]:
jane_says="hi my name is jane and i am learning python!"

say_something(jane_says)

hi my name is jane and i am learning python!

In [15]:
#define a function that calculates the percentage of students that passed both amth and reading and returns both
def passing_math_percent(pass_math_count,student_count):
    return pass_math_count/float(student_count)*100

#passing math percentage funtions, creates two variables
passing_math_count=29370

total_student_count=39170

#call the function
passing_math_percent(passing_math_count,total_student_count)

74.9808526933878

In [16]:
# A list of grades
my_grades=['B','C','B','D']

In [17]:
# import Pandas
import pandas as pd

#convert the my_grades to a series
my_grades=pd.Series(my_grades)

my_grades

0    B
1    C
2    B
3    D
dtype: object

In [20]:
# change the letter grade by one letter
my_grades.map({'B':'A','C':'B','D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [21]:
#using the format() function
my_grades=[92.34,84.56,86.78,98.32]

for grade in my_grades:
    print('{:.0f}'.format(grade))

92
85
87
98

In [22]:
#convert the numerical grades to a Series
my_grades=pd.Series([92.34,84.56,86.78,78.32])

my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [24]:
#format the grades to the nearest whole number

my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object